body {
    display: flex;
}

#cat-display-area {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#cat-admin-button-area {
    display: none;
}

#cat-admin-area {
    display: none;
}

#cat-admin-form {
    width: 80%;
    margin: 0 auto;
}

label, input {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
}

label + input {
    width: 30%;
    margin: 0 30% 0 4%;
}
