body {
    display: flex;
}

#cat-display-area {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#cat-admin-button-area {
    display: none;
}

#cat-admin-area {
    display: none;
}